body{
    background-color: bisque;
    background-image: url("https://w0.peakpx.com/wallpaper/489/152/HD-wallpaper-trishul-animated-mahadev-trishul.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}